@import url('https://fonts.googleapis.com/css?family=Raleway');

*{
	padding: 0;
	margin: auto;
	font-family: Raleway; Helvetica; Arial, Sans Serif;
	box-sizing: content-box;
}


.bg {
  /* The image used */
  background-image: url("img_girl.jpg");

  /* Full height */
  height: 100%; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


header {
    background-color: yellow;
    border: 1px black solid;
    padding: 50px;
    text-align: center;
}

nav {
	background-color: #E8C66A;
	border: 1px black solid;
    padding: 20px;
    text-align: center;
}

aside { 
	background-color: #FFC675;
	border: 1px black solid;
    padding: 150px;
    text-align: center;
}

article {
	background-color: #E89C6C;
	border: 1px black solid;
    padding: 20px;
    text-align: center;
 }
footer {
	background-color: #FF957E;
	border: 1px black solid;
    padding: 20px;
    text-align: center;
}
div / section {
	background-color: #FFE2B8;
	border: 10px black solid;
    padding: 20px;
    text-align: center;
}





nav {
	color: #102;
	font-family: 'Raleway', 'Helvetica', 'Arial', 'Sans-Serif';
	margin: auto;
	text-align:	center;

	background-color: #E8C66A;
	border: 1px black solid;
	}

header {
	background-color: white;
	padding: 1em;
}

body {
	font-size: 16px; /*1em = 16px*/
	line-height: 1.7;
	margin: auto;
	height: 100%;
  	margin: 0;
	}

a {
	text-decoration-line: none;
	color: #102;
	
}

footer {

}

h1{
	font-size: 3em;
	line-height: 1.2em;
	text-align: center;
	color: 102 102 102;
}

#nav-top {
	padding: 0 2em;
}

#full-width {


}


.team {
	max-width: 50%;
}

.column {
  float: left;
  width: 20%;
  padding: 80px;
  text-align: center;
}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
  align-content: center;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 500px) {
.column {
    width: 100%;
  }
}

#section-4{
	
}

.section-1,
.section-3
.section-5 {
  position: relative;
  text-align: center;
  color: white;
  background-image: 100%;
}

#landingtext {
	max-width: 40em;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-decoration-color: #fff;
}